<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmerConnect - Market Info System</title>
    <link rel="stylesheet" href="buyer.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>FarmerConnect</h1>
            <nav>
                <ul>
                    <li><a href="buyer.html">Home</a></li>
                    <li><a href="prices.html">Market Prices</a></li>
                    <li><a href="bidding.html">Crop Bidding</a></li>
                    <li><a href="salesdirectory.html">Sales Directory </a></li>
                    <li><a href="logout.html">Log Out </a> </li> 
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Buyer Profile</h1>
            <div class="profile-info">
                <div>
                    <label>Buyer ID:</label>
                    <span>12345</span>
                </div>
                <div>
                    <label>Buyer Name:</label>
                    <span>M.A Muhit Ronon</span>
                </div>
                <div>
                    <label>Shop Number:</label>
                    <span>56A</span>
                </div>
                <div>
                    <label>Preferred Crops:</label>
                    <span>Wheat, Rice, Corn</span>
                </div>
                <div>
                    <label>Phone Number:</label>
                    <span>019112086044</span>
                </div>
                <div>
                    <label>Location:</label>
                    <span>Magura, Bangladesh </span>
                </div>
                <div>
                    <label>Date of Registration:</label>
                    <span>2024-11-27</span>
                </div>
            </div>
            
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 FarmerConnect. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
