* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/crop\ background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.search-bar {
    text-align: right;
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: rgb(228, 222, 222);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}

.back-btn:hover {
    background-color: #8e44ad;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #7626a5;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: rgb(60, 19, 207);
}

tr:nth-child(even) {
    background-color: #645f96;
}

tr:hover {
    background-color: #ddd;
}

.crop-id, .crop-name {
    cursor: pointer;
}

#crop-details {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #eceff0f1;
    box-shadow: -2px 0px 5px rgba(31, 40, 126, 0.3);
    padding: 20px;
    transition: right 0.5s ease-in-out;
}

.details-content {
    margin-bottom: 40px;
}

#crop-description {
    list-style-type: none;
    padding: 0;
}

#crop-description li {
    margin: 10px 0;
}

#back-btn {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#back-btn:hover {
    background-color: #1976D2;
}

#close-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-btn:hover {
    background-color: #d32f2f;
}

#search:focus {
    outline: none;
    border-color: #4CAF50;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    #search {
        width: 150px;
    }

    #crop-details {
        width: 300px;
    }

    table {
        font-size: 14px;
    }

    #back-to-table-btn {
        top: 10px;
        left: 10px;
    }
}
