<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="analyst.css">
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <a href="/analyst_dashboard" >Dashboard</a>
      <a href="/analyst_market_prices">Market Price for Crops</a>
      <a href="/analyst_input_market_data"  >Input Market Data</a>
      <a href="/analyst_graph_chart" >Graph/Chart</a>
      <a href="/analyst_index" class = "active">Sign Out</a>
    </aside>
    <!-- Main Content -->
    <main class="main-content">
      <h1>Dashboard</h1>
      <div class="employee-info">
        <img src="market_analyst.jpg" width="200"  alt="Employee Photo">
        <p><strong>Employee ID:</strong> 12345</p>
        <p><strong>Employee Name:</strong> John Doe</p>
        <p><strong>Email:</strong> john.doe@example.com</p>
        <p><strong>Date of Joining:</strong> 2020-01-01</p>
        <p><strong>Age:</strong> 30</p>
        <p><strong>Gender:</strong> Male</p>
        <p><strong>Salary:</strong> $50,000</p>
        <p><strong>Working Days:</strong> 250</p>
      </div>
    </main>
  </div>
</body>
</html>
