<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - FarmerConnect Analysis</title>
    <link rel="stylesheet" href="analyst.css" >
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">FarmerConnect Analyst</div>
            <nav>
                <a href="/analyst_dashboard" class="active">Analyst Dashboard</a>
                <a href="/analyst_market_prices">Market Price for Crops</a>
                <a href="/analyst_input_market_data" >Input Market Data</a>
                <a href="/analyst_graph_chart">Graph for MarketPrice</a>
                <a href="/analyst_index">Sign Out</a>
                <a href="/agent_All_Harvest" >Harvest Information Table</a>
                <a href="/agent_bids_info" >Harvest and Bids Information</a>


            </nav>
        </div>
        <div class="main-content">
            <h1>Analyst Dashboard</h1>
            <div class="profile-card">

                <div class="profile-info">
                    <div class="info-item">
                        <label>Employee ID:</label>
                        <span>EMP001</span>
                    </div>
                    <div class="info-item">
                        <label>Employee Name:</label>
                        <span>Saif Nasim Bosunia</span>
                    </div>
                    <div class="info-item">
                        <label>Email:</label>
                        <span>2321063@iub.edu.bd</span>
                    </div>
                    <div class="info-item">
                        <label>Date of Joining:</label>
                        <span>10/12/2024</span>
                    </div>
                    <div class="info-item">
                        <label>Age:</label>
                        <span>24</span>
                    </div>
                    <div class="info-item">
                        <label>Gender:</label>
                        <span>Male</span>
                    </div>
                    <div class="info-item">
                        <label>Salary:</label>
                        <span>$100,000</span>
                    </div>
                    <div class="info-item">
                        <label>Working Days:</label>
                        <span>22 days/month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
